.content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 75%;
}

.content div{
  display: grid;
}

.lista{
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 20px;
}

.head {
  grid-template-columns: 2fr 1fr 2fr 1fr;
}

span{
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

li:hover{
  cursor: default;
  box-shadow: 0 0 3px 0 #000;
}
