.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.login {
  border: 1px solid #000;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

span.error {
  font-size: 10px;
  color: red;
}
