<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="/assets/imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="conteudo"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-favorito" (click)="atualizarFavoritos()">
      <img routerLink="/pensamentos/favoritarPensamento/{{ pensamento.id }}" src="/assets/imagens/icone-favorito-{{ mudarIconeFavorito() }}.png" alt="Icone de favorito"></button>
    <button class="botao-editar">
      <img routerLink="/pensamentos/editarPensamento/{{ pensamento.id }}" src="/assets/imagens/icone-editar.png" alt="Icone de editar"></button>
    <button class="botao-excluir">
      <img routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}" src="/assets/imagens/icone-excluir.png" alt="Icone de excluir"></button>
  </div>
</div>
