<div class="resultados">
    <div class="head">
        <span>Resultados</span>
    </div>
    <div class="content" id="resultados">
        <span>Resultado 1</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aut deleniti voluptates maxime voluptatem sunt ullam ratione non quia! Libero ab optio facilis ... <a href="">saiba mais</a></p>
        <span>Resultado 2</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aut deleniti voluptates maxime voluptatem sunt ullam ratione non quia! Libero ab optio facilis ... <a href="">saiba mais</a></p>
        <span>Resultado 3</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aut deleniti voluptates maxime voluptatem sunt ullam ratione non quia! Libero ab optio facilis ... <a href="">saiba mais</a></p>
        <button>Outros Resultados</button>
    </div>
</div>