<div class="servicos">
    <div class="head">
        <span>Serviços</span>
    </div>
    <div class="content" id="servicos">
        <div class="setor">
            <div class="setor-titulo" onclick="expansao(this)">Setor 1</div>
            <ul class="lista">
                <li><p>Serviço 1</p></li>
                <li><p>Serviço 2</p></li>
                <li><p>Serviço 3</p></li>
            </ul>
        </div>
        <div class="setor">
            <div class="setor-titulo" onclick="expansao(this)">Setor 2</div>
            <ul class="lista">
                <li><a href="">Serviço 1</a></li>
                <li><a href="">Serviço 2</a></li>
                <li><a href="">Serviço 3</a></li>
            </ul>
        </div>
        <div class="setor">
            <div class="setor-titulo" onclick="expansao(this)">Setor 3</div>
            <ul class="lista">
                <li><a href="">Serviço 1</a></li>
                <li><a href="">Serviço 2</a></li>
                <li><a href="">Serviço 3</a></li>
            </ul>
        </div>
        <div class="setor">
            <div class="setor-titulo" onclick="expansao(this)">Setor 4</div>
            <ul class="lista">
                <li><a href="">Serviço 1</a></li>
                <li><a href="">Serviço 2</a></li>
                <li><a href="">Serviço 3</a></li>
            </ul>
        </div>
        <div class="setor">
            <div class="setor-titulo" onclick="expansao(this)">Setor 5</div>
            <ul class="lista">
                <li><a href="">Serviço 1</a></li>
                <li><a href="">Serviço 2</a></li>
                <li><a href="">Serviço 3</a></li>
            </ul>
        </div>
        <div class="setor">
            <div class="setor-titulo" onclick="expansao(this)">Setor 6</div>
            <ul class="lista">
                <li><a href="">Serviço 1</a></li>
                <li><a href="">Serviço 2</a></li>
                <li><a href="">Serviço 3</a></li>
            </ul>
        </div>
        <div class="setor">
            <div class="setor-titulo" onclick="expansao(this)">Setor 7</div>
            <ul class="lista">
                <li><a href="">Serviço 1</a></li>
                <li><a href="">Serviço 2</a></li>
                <li><a href="">Serviço 3</a></li>
            </ul>
        </div>
        <div class="setor">
            <div class="setor-titulo" onclick="expansao(this)">Setor 8</div>
            <ul class="lista">
                <li><a href="">Serviço 1</a></li>
                <li><a href="">Serviço 2</a></li>
                <li><a href="">Serviço 3</a></li>
            </ul>
        </div>
    </div>
</div>