/* You can add global styles to this file, and also import other style files */
li {
  display: table;
  background-color: rgb(1, 120, 251);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
  color: white;
  box-shadow: 0 0 3px 0 #000;
  transition: 0.5s;
}

li:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 0 #fff inset;
}

.title {
  background-color: #dc4d10;
}

.title:hover {
  cursor: default;
  box-shadow: 0 0 3px 0 #000;
}

button {
  background-color: #18d3c6;
  border-radius: 5px;
}
