@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kdam+Thmor+Pro&family=Mukta+Mahee:wght@400;700&display=swap');

:root{
    --corBackgroundPrimaria: #000066;
    --corBackgroundSecundaria: #eaeaea;
    --corBackgroundTerciaria: #87C3F8;
    --corTextoPrimaria: #000;
    --corTextoSecundaria: #f1f1f1;
    --corBordasPrimaria: #a1a1a1;
}

.head{
    height: 10%;
    background-color: var(--corBackgroundPrimaria);
    color: var(--corTextoSecundaria);
    font-family: Agbalumo;
    font-size: 14px;
    padding-left: 15px;
    border-radius: 5px 5px 0 0;
}

.noticias{
    background-color: #f1f1f1;
    border: 0.5px solid var(--corBordasPrimaria);
    border-radius: 5px;
    -webkit-box-shadow:0px 0px 9px 3px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.4);
}

.noticias .content{
    display: grid;
    gap: 1px;
    align-content: space-around;
    padding: 4px 10px;
}

.noticias .content span{
    font-family: 'Agbalumo';
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.noticias .content a{
    font-family: 'Kdam Thmor Pro';
    font-size: 11px;
    letter-spacing: 0.6px;
    text-decoration: none;
    font-style: italic;
    color: var(--corBackgroundPrimaria);
}

.noticias .content a:hover{
    text-decoration: underline;
}

button{
    background-color: var(--corBackgroundTerciaria);
    border: 1px solid var(--corBackgroundPrimaria);
    font-family: 'Kdam Thmor Pro';
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--corBackgroundPrimaria);
    letter-spacing: 2px;
    height: 30px;
    margin-top: 15px;
    border-radius: 20px;
    transition: 0.3s;
}

button:hover{
    cursor: pointer;
    background-color: var(--corBackgroundPrimaria);
    color: var(--corTextoSecundaria);
    transition: 0.5s;
}

@media screen and (max-width: 750px){
    .head {
        font-size: 13px;
    }

    .noticias .content span{
        font-size: 12px;
    }

    .noticias .content a{
        font-size: 10px;
    }

    .noticias button{
        font-size: 12px;
    }
}

@media screen and (max-width: 610px){
    .head {
        font-size: 12px;
    }

    .noticias .content span{
        font-size: 11px;
    }

    .noticias .content a{
        font-size: 8px;
    }

    .noticias button{
        font-size: 11px;
    }
}

@media screen and (max-width: 500px){
    .head {
        font-size: 12px;
    }

    .noticias .content span{
        font-size: 11px;
    }

    .noticias .content a{
        font-size: 9px;
    }

    .noticias button{
        width: 60%;
        margin-left: 20%;
        height: 25px;
        font-size: 11px;
    }
}

@media screen and (max-width: 375px){
    .head {
        font-size: 11px;
    }

    .noticias .content span{
        font-size: 10px;
    }

    .noticias .content a{
        font-size: 8px;
    }

    .noticias button{
        width: 60%;
        margin-left: 20%;
        height: 25px;
        font-size: 10px;
    }
}